
#content {
    margin-left: 50;
}

#header {
    margin-left: 60;
}

#controls { 
    background-color: rgb(204, 255, 170); 
    position: relative; 
    float: auto; 
    margin-left: 5; 
    margin-bottom: 5; 
    width: 640;
    padding: 5;
}

.column { 
    background-color: rgb(204, 255, 170); 
    width: 200; 
    min-height: 500; 
    position: relative; 
    float: left; 
    margin: 5;
    padding: 5;
}

.card { 
    background-color: rgb(225, 255, 205); 
    height: 100; 
    overflow: overlay; 
    margin: 5; 
    padding: 5;
}

.edit {
    background-color: rgba(31, 60, 12, 0.92);
    width: 500;
    height: 500;
    position: absolute;
    z-index: 2; 
    margin-top: 65;
    margin-left: 75;
    padding: 15;
    visibility: hidden;
}

button {
    background-color: rgb(225, 255, 205);
    border-right-color: rgb(225, 255, 205);
    border-bottom-color: rgb(225, 255, 205);
    border-top-color: rgb(225, 255, 205);
    border-left-color: rgb(225, 255, 205);
    border-right-style: inset;
    border-bottom-style: inset;
}

button.delete { 
    background-color: rgb(253, 188, 154);
    position: relative; 
    float: right;
}

h1 { 
    font-size: 14; 
    font-weight: lighter
}

h2 { 
    font-size: 12;
    font-weight: lighter
}

body { 
    font-size: 10; 
    font-family: helvetica; 
    background-color: rgb(170, 222, 135) 
}
